class Variables {
  static const String appName = 'PML Ship';
  static const String apiVersion = 'v1';
  static const String baseUrl = 'http://127.0.0.1:8000';
  // static const String baseUrl = 'https://example.com';
}
